@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="container" style="justify-content: center; padding-top: 40pt;">
	<div class="row">
		<div class="col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white rounded">
			<h4 style="text-align:center" class=" font-bold text-xl mb-3">Enter your email</h4>
			<form method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
					<label asp-for="Input.Email" class="form-label"></label>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<button type="submit" class="btn text-white bg-amber-500 hover:bg-amber-600 me-2 rounded-lg mt-3">Reset Password</button>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	}
