@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<div class="container" style="justify-content: center; padding-top: 40pt;">
	<div class="row">
		<div class="col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white rounded">
			<h4 style="text-align:center" class=" font-bold text-xl mb-3">Please check your email to reset your password.</h4>
		</div>
	</div>
</div>
@*<p>
    Please check your email to reset your password.
</p>*@
