
@{
    ViewData["Title"] = "Edit Profile";
}

      <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html">Recruitment Tracking</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                  <a class="nav-link" href="jobs.html">Jobs</a>
                </div>
              </div>
              <div class="d-flex">
                <a class="btn btn-outline-primary me-2" href="signin.html">Sign in</a>
                <a class="btn btn-primary" href="signup.html">Sign up</a>
              </div>
            </div>
          </nav>
          <!-- content for edit profile -->
          <div class="container shadow p-3 mb-5 bg-white rounded mt-5" style="background-color:#f8f9fa ">
            @using(Html.BeginForm("EditProfile", "Candidate", FormMethod.Post))
            {
                <div class="mb-3">
                    <label for="name" class="form-label">Full Name</label>
                    @* @Html.TextBoxFor(m => m.Name, new { @class = "form-control"}) *@
                    @* <input type="text" class="form-control" id="name" name="Name" placeholder="full name"> *@
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    @* @Html.TextBoxFor(m => m.Email, new { @class = "form-control"}) *@
                    @* <input type="email" class="form-control" id="email" name="Email" placeholder="name@example.com"> *@
                </div>

                <!--sementara dibawah ini mati, krn blm sesuai dengan data signup, tidak ada phone number-->
                @*<div class="mb-3"> *@
                    @* <label for="phone" class="form-label">Phone Number</label> *@
                    @* @Html.TextBoxFor(m => m.Phone, new { @class = "form-control"}) *@
                    @* <input type="text" class="form-control" id="phone" name="Phone" placeholder="phone number"> *@
                @*</div> *@

                <div class="d-grid gap-2">
                    <a class="btn btn-primary mt-3" href="edit_profile.html">Edit Profile</a>
                </div>
            }
            </div>
          
          <!-- footer -->
          <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
              <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
              </a>
              <span class="mb-3 mb-md-0 text-muted">© 2023 Company, Inc</span>
            </div>
        </footer>
        
      </body>