@model List<JobData>;

@{
  ViewData["Title"] = "Formulatrix Career";
}
    <!-- image with search job and location search inside -->

    <div class="p-5 bg-light" style="justify-content: center;">
        <div class="container">
          <div class="row g-3">
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="Search Job" aria-label="City"/>
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Location" aria-label="State"/>
            </div>
            <div class="col-sm mb-3">
              <button type="button" class="btn btn-primary">Search</button>
            </div>
          </div>
        </div>
      </div>

    <!-- top jobs -->
    <div class="container">
      <h4 class="form-label mt-5">Top Jobs</h4>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">

        @foreach (var job in Model){
        <div class="col mt">
          <div class="card w-100 max-w-100">
            <div class="card-body">
              <h5 class="card-title">@job.JobTitle</h5>
              <p class="card-text">
                @job.JobDescription
              </p>
              <div>
                <a type="button" class="btn btn-primary" href="@Url.Action("ApplyJob", new { id =job.JobId })">Apply</a>
                <a type="button" class="btn btn-outline-primary" href="@Url.Action("DetailJob", new { id = job.JobId })" >Details</a>
              </div>
            </div>
          </div>
        </div>
        }

      </div>
    </div>
