
@{
    ViewData["Title"] = "Jobs";
}

  <body>

    <!-- search bar -->
    <div class="p-5 " style="background-color: lightgray; justify-content: center;">
        <div class="container">
          <div class="row g-3">
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="Search Job" aria-label="City"/>
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Location" aria-label="State"/>
            </div>
            <div class="col-sm mb-3">
              <button type="button" class="btn btn-primary">Search</button>
            </div>
          </div>
        </div>
      </div>

    <!-- job list -->
    @* @foreach(var job in Model)
    {
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
                <div class="col">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title"> Job Title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div>
                        <a type="button" class="btn btn-primary" href="apply_job.html">Apply</a>
                        <a type="button" class="btn btn-outline-primary" href="detail_job.html" >Details</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>  
        </div>
    } *@
   
    <!-- footer -->
    @* <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">© 2023 Company, Inc</span>
        </div>
    </footer> *@
  </body>