@model List<JobViewModel>;

@{
    ViewData["Title"] = "SearchJob";
    var searchstring = @Context.Request.Query["searchstring"];
}

<!-- bg and search bar -->
<div class="pt-32 pb-20 px-5 bg-custom-background">
    <form asp-controller="Home" asp-action="SearchJob" method="post">
    <div class="w-full container flex justify-between space-y-3 flex-col lg:space-x-3 lg:space-y-0 lg:flex-row">
        <div class="w-full">
        <input type="text" name="searchstring" value="@searchstring" class="form-control rounded-lg" placeholder="Search Job" aria-label="City"/>
        </div>
        @* <div class="dropdown w-1/3">
        <select class="form-select" aria-label="Default select example">
            <option selected>Choose location</option>
            <option value="All Select">All Location</option>
            <option value="Bandung">Bandung</option>
            <option value="Salatiga">Salatiga</option>
            <option value="Semarang">Semarang</option>
        </select>
        </div> *@
        <button type="submit" class="w-1/3 btn bg-amber-500 text-white hover:bg-amber-600 rounded-lg">Search<i
            class="bi bi-search mx-2"></i></i></button>
    </div>
    </form>
    </div>

<!-- search result header -->
<div class="container mb-3 ms-5">
    <h4 class="font-medium text-2xl mt-5">Search Result</h4>
    <h5 class="font-">You search about</h5>

<!-- search result body -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">