/* _content/RecruitmentTracking/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ozv69qn49q] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ozv69qn49q] {
  color: #0077cc;
}

.btn-primary[b-ozv69qn49q] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ozv69qn49q],
.nav-pills .show > .nav-link[b-ozv69qn49q] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ozv69qn49q] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ozv69qn49q] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ozv69qn49q] {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy[b-ozv69qn49q] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ozv69qn49q] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.step-wizard[b-ozv69qn49q] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-wizard-list[b-ozv69qn49q] {
  background: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  color: #333;
  list-style-type: none;
  border-radius: 10px;
  display: flex;
  padding: 20px 10px;
  position: relative;
  z-index: 10;
}

.step-wizard-item[b-ozv69qn49q] {
  padding: 0 20px;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 170px;
  position: relative;
}
.step-wizard-item + .step-wizard-item[b-ozv69qn49q]:after {
  content: "";
  position: absolute;
  left: 0;
  top: 19px;
  background: #5bc0de;
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  z-index: -10;
}
.progress-count[b-ozv69qn49q] {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  color: transparent;
}
.progress-count[b-ozv69qn49q]:after {
  content: "";
  height: 40px;
  width: 40px;
  background: #5bc0de;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -10;
}
.progress-count[b-ozv69qn49q]:before {
  content: "";
  height: 10px;
  width: 20px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%) rotate(-45deg);
  transform-origin: center center;
}
.progress-label[b-ozv69qn49q] {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.current-item .progress-count[b-ozv69qn49q]:before,
.current-item ~ .step-wizard-item .progress-count[b-ozv69qn49q]:before {
  display: none;
}
.current-item ~ .step-wizard-item .progress-count[b-ozv69qn49q]:after {
  height: 10px;
  width: 10px;
}
.current-item ~ .step-wizard-item .progress-label[b-ozv69qn49q] {
  opacity: 0.5;
}
.current-item .progress-count[b-ozv69qn49q]:after {
  background: #fff;
  border: 2px solid #5bc0de;
}
.current-item .progress-count[b-ozv69qn49q] {
  color: #5bc0de;
}
