@{
    ViewData["Title"] = "Home Admin";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Home for admin</a>.</p>
</div>